/*
Theme Name: Chocolove
Theme URI: www.chocolove.com
Authors: Letícia Ingrid e Marianna Rimes
Description: Theme created to pratice wordpress exercises
Version: 1.0
*/

*{
    font-family: Georgia, serif;
}

header{    
    background: #9c5f23d2;
    height: 70px;
}

a.header{
    color: white;
    float: left;
    font-size: 45px;
    text-decoration: none;
    margin-left: 20%;
    font-weight: bolder;
}

ul {
    margin-right: 80px;
    text-align: right;
}

li {
    list-style: none; 
    display: inline;
}

li a {
    list-style: none; 
    padding: 10px 10px; 
    margin:0;
    text-decoration: none;
    color:#FFF;
    font-size: 15px;
}

body{
    font-size: 20px;
    background-color: #583E26;
    text-align: justify;
}

.intro{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    color: white;
}

.intro img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

h1{
    color: white;
    align-items: center;
    font-size: 40px;
    font-style: italic;
    position: absolute;
    width: 100%;
    margin-right: auto;
    vertical-align: bottom;
    text-align: left;
    padding-top: 0%;
    margin-left: 5%;
}

p.intro{
    font-size: 20px;
    font-style: italic;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.container{
    width: auto;
}

.container img{
    max-width:400px;
    max-height:400px;
    width: auto;
    height: auto;
}

section{
    color: white;
}

h2{
    text-align: center;
    background-color:  #9c5f23d2;
    color: white;
}

.sobre img{
    max-width:400px;
    max-height:400px;
    width: auto;
    height: auto;
    float: left;
    margin-left: 5%;
}

.sobre p{
    vertical-align: middle;
    padding: 10%;
    margin-top: 5%;
}

div.social-icons img{   
    float: right;
}

div.social-icons img{
    max-width: 50px;
    max-height: 50px;
}

div.left {
    width: 40%;
    display: inline-block;
    padding: 0vw 0vw 0vw 0vw;
    min-width:40vw;
    float: left;
    height: auto;
}

div.right {
    width: 40%;
    display: inline-block;
    padding: 0vw 0vw 0vw 0vw;
    min-width:40vw;
    float: right;
    height: auto;
}

.container img{
    height: 700px;
}

form{
    text-align:center;
    margin: 10%;
}

input{
    width:225px;
}

input.submit{
    width: 100px;
}

footer{
    background: #9c5f23d2;
    text-align: center;
    clear: both;
    bottom: 0;
    width: 100%
}

.footer a{
    font-size: 20px;
    float: none;
    margin-left: auto;
    color: #FFF;
    text-decoration: none;
}

div.footer{
    color: white;
    font-size: 45px;
    text-decoration: none;
    font-weight: bolder;
}

/*
div.main{
    width:1400px;
    height:450px;
    background-image: url("images/bg-intro.jpg");
    vertical-align: middle;
    display: table-cell;
    min-height: 10em;
}

h3{
    color: white;
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
}

nav{
    align-items: center;
    margin-left: 200px;
}

h4{
    text-align: center;
    font-size: 40px;
    color: rgb(54, 53, 53);
}

div.box{
    display: inline-block;
    width: 500px;
}

figcaption{
    background-color: rgb(54, 53, 53);
    width: 200px;
    font-size: 40px;
    color: white;
    font-style: italic;
    text-align: center;
}
*/